<!DOCTYPE html>
<html>
<head>
	<title>Teste do Primeiro Controller</title>
</head>
<body>
<h1>Testando o primeiro controller separado</h1>
<h2><%= @variavel %></h2>
<%= link_to "Cadastro de Clientes", customers_path %>
</body>
</html>